<mat-icon class="back-arrow" (click)="location.back()">keyboard_backspace</mat-icon>
<app-sign-out style="position: relative; left: 5vw; bottom: -4vw;"></app-sign-out>

<div class="name-box">
  <span class="edit-profile" [routerLink]="['/doctor/edit/self']">Edit a profile</span>
  <div class="open-table" [routerLink]="['/doctor/table']"> Open table view</div>
</div>

<kendo-scheduler [kendoSchedulerBinding]="events"
                 [selectedDate]="selectedDate"
                 (eventClick)="onClick($event)"
                 scrollTime="08:00"
                 style="height: 40vw; width: 70vw; margin-top: 5px;">
  <kendo-scheduler-day-view> </kendo-scheduler-day-view>

  <kendo-scheduler-week-view> </kendo-scheduler-week-view>

  <kendo-scheduler-month-view> </kendo-scheduler-month-view>

  <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>
</kendo-scheduler>





