<app-sign-out style="position: relative; left: 5vw;"></app-sign-out>

<kendo-scheduler [kendoSchedulerBinding]="events"
                 [selectedDate]="selectedDate"
                 (eventClick)="onClick($event)"
                 scrollTime="08:00"
                 style="height: 40vw; width: 70vw;">
  <kendo-scheduler-day-view> </kendo-scheduler-day-view>

  <kendo-scheduler-week-view> </kendo-scheduler-week-view>

  <kendo-scheduler-month-view> </kendo-scheduler-month-view>

  <kendo-scheduler-timeline-view> </kendo-scheduler-timeline-view>
</kendo-scheduler>





