@import "/src/app/shared/styles/vars.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-block {
    width: 46vw;
    height: 40vw;
    background-color: $sign-in-background-color-main;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 30px;
      color: $font-color-second;
    }

    .input {
      width: 276px;
      height: 36px;
      border-radius: 6px;
      border: 1px solid $gray;
      padding: 0 12px;
      margin: 10px 0;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $font-color-second;
    }

    .imagelogo{
      position: relative;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      transition: background-color .2s ease-in-out;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
        background-color: #111;
      }
    }
    .imagelogo:hover avatar__content{
      opacity: 1;
    }
    .imagelogo:hover .avatar {
      opacity: .5;
    }

    .name {
      font-size: 3vw;
      font-style: normal;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
    }

    .avatar {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      opacity: 1;
      transition: opacity .2s ease-in-out;
      object-fit: cover;
    }

    .view_avatar {
      vertical-align: middle;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }

    .avatar__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    .avatar__content:hover {
      opacity: .5;
    }
  }
}

:host ::ng-deep {
  .submit-button {
    margin-top: 50px;
    width: 200px;
    height: 35px;
    background: $main-color;
    border-radius: 5px;
    box-shadow: unset;

    &:hover{
      background: #38c550;
    }

    .mat-button-wrapper {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 9px;
      text-align: center;
      color: $white;
      font-family: $font-family;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray;
  }

  .mat-form-field-label {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #757575;
  }

  .mat-form-field {
    width: 276px;
    height: 34px;
    border-radius: 6px;
    margin: 10px 0;
  }

  .mat-select-panel {
    background-color: $white;

    .mat-option {
      color: $font-color-second;

      .mat-option-text {
        color: $font-color-main;
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
      }
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
      .mat-option-text {
        color: $main-color;
      }
    }
  }

  .mat-form-field-hide-placeholder .mat-select-placeholder {
    color: #d9d9d9;
    -webkit-text-fill-color: transparent;
    transition: none;
    display: block;
  }

  .mat-select {
    .mat-select-value {
      color: $font-color-second;
    }
    .mat-select-arrow {
      color: $gray;
    }
  }
}
