$main-color: #33B249;
$places-background-color: #E5E5E5;
$sign-in-background-color-main: #fefefe;
$sign-in-background-color-second: #dbe6ff;
$font-color-main: #9695A8;
$font-color-second: #33334F;
$font-family: Arial, sans-serif;
$white: #FFFFFF;
$gray: #DADADA;
$error: red;
$time-label: #747474;
$mat-calendar-label: #949294;
$mat-calendar-body: #716F71;
